<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Privatecert" value="Maxcode" />
    <add key="Acquirercert" value="Internet Widgits Pty Ltd" />
    <add key="AcquirerURLDIR" value="https://itt.maxcode.ro/ITTEmulatorAcquirer/Directory.aspx" />
    <add key="AcquirerURLTRA" value="https://itt.maxcode.ro/ITTEmulatorAcquirer/Transaction.aspx" />
    <add key="AcquirerURLSTA" value="https://itt.maxcode.ro/ITTEmulatorAcquirer/Status.aspx" />
    <add key="AcquirerTimeout" value="10" />
    <add key="MerchantID" value="399965650" />
    <add key="SubID" value="0" />
    <add key="ExpirationPeriod" value="PT10M" />
    <add key="MerchantReturnURL" value="http://localhost/iDealSample/PageRequestTransactionStatus.aspx" />
  </appSettings>
</configuration>