<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--
      This section defines the variables used to create your own RSA private key and the certificate based on this key
      Default values enables you to test the example demoshop
      Do not change AuthenticationType unless you have specific reasons to do so
      Privatecert is the name of your organisation as entered during the creation process of your Certificate
    -->
    <!--<add key="Privatecert" value="Maxcode" />
    <add key="Acquirercert" value="Internet Widgits Pty Ltd" />-->
    <add key="Privatecert" value="fc12d8d71e6fc1ec25f33d9590a6bb405e20740f" />
    <add key="Acquirercert" value="0235e043be5ac93ef66e174aa7403b9490419276" />
    <add key="FindCertificatesByThumbprint" value="True" />
    <!--<add key="UseCspMachineKeyStore" value="True" />-->
    <add key="UseCertificateWithEnhancedAESCryptoProvider" value="True" />
    
    <!-- remove this from production -->
    <!-- <add key="DisableAcquirerSSLCertificateValidation" value="True" /> -->
    
    <!--
        Address of the iDEAL acquiring server
      Use https://idealtest.secure-ing.com/ideal/iDeal during integration/test
      Use https://ideal.secure-ing.com/ideal/iDeal only for production
      Do not change AcquirerTimeout unless you have specific reasons to do so
      <add key="AcquirerURL" value="https://ideal.secure-ing.com/ideal/iDeal" />
    -->
    <add key="AcquirerDirectoryURL" value="https://itt.maxcode.ro/ITTEmulatorAcquirer/Directory.aspx" />
    <add key="AcquirerTransactionURL" value="https://itt.maxcode.ro/ITTEmulatorAcquirer/Transaction.aspx" />
    <add key="AcquirerTransactionStatusURL" value="https://itt.maxcode.ro/ITTEmulatorAcquirer/Status.aspx" />
    <add key="AcquirerTimeout" value="10" />
    <!--
        Default MerchantID enables you to test the example demoshop
      Your own Merchant ID can be retrieved via the iDEAL Dashboard
      Do not change subID unless you have specific reasons to do so
    -->
    <add key="MerchantID" value="025152899" />    
    <add key="SubID" value="0" />
    <!--
      MerchantReturnURL is the URL on your system that the customer is redirected to after the iDEAL payment.
      This page should carry out the Status Request
      <add key="MerchantReturnURL" value="http://myWebPage:8080/returnfromissuer" />
    -->
    <add key="MerchantReturnURL" value="http://localhost:3244/PageRequestTransactionStatus.aspx" />
    <!--
        ExpirationPeriod is the timeframe during which the transaction is allowed to take place
      Maximum is PT1H (1 hour)
    -->
    <add key="ExpirationPeriod" value="PT10M" />
    <!--
        Default description
      Used when you do not want to use transaction specific descriptions
    -->
    <!-- 
      Proxy credentials
      WARNING: In a real-world application you should always use encryption to store
      authentication credentials
    -->
    <add key="ProxyUsername" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyAddress" value="" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <trace enabled="true"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--trust level="Medium"/-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />    
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="iDealConnector" value="4" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Web_Trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>